{% extends "core/base.html" %}

{% block content %}
{% comment %}
<style>
div.block{
  overflow:hidden;
}
div.block label{
  width:160px;
  display:block;
  float:left;
  text-align:left;
}
div.block .input{
  margin-left:4px;
  float:left;
}
</style>

<div class="block">
  <label>First field</label>
  <input class="input" type="text" id="txtLastName"/>
</div>
<div class="block">
  <label>Second field</label>
  <input class="input" type="text" id="txtLastName"/>
</div>
{% endcomment %}
	{% for post in post_list %}		
		<div class="block" style="margin-bottom: 20px; border:1px solid#ddd;-moz-border-radius: 25px 10px / 10px 25px; border-radius: 25px 10px / 10px 25px; padding:9px; background-image:url('{{ MEDIA_URL }}img/my_bubbles.jpg'); background-size:105px; background-repeat:no-repeat; background-position:center;"> 
			<h4>{{ post.title|capfirst }}</h4>
			{{ post.text|linebreaks }}
			{% if post.tags %}
			Tags:
			<ul>
				{% for tag in post.tags %}
					<li><a href="?tag={{ tag.id }}">{{ tag }}</a></li>
				{% endfor %}
			</ul>			
			{% endif %}
			<a href="{{ post.get_absolute_url }}" class="btn btn-small">Read</a> 
			<a href="{{ post.get_edit_url }}" class="btn btn-small">Edit</a> 
			<a href="{{ post.get_delete_url }}" class="btn btn-small">Delete</a>
		</div>
	{% endfor %}
{% endblock %}
